Make IoT.Protocol.Upnp.SsdpReply.TryParse() strict enough to adhere rules defined by UPnP specification

Current parser is looser than it must be to comply protocol specs.

> _SSDP uses part of the header field format of HTTP 1.1 as defined in RFC 2616. However, it is NOT based on full HTTP 1.1 as it
uses UDP instead of TCP, and it has its own processing rules. This section defines the generic format of a SSDP message.
All SSDP messages MUST be formatted according to RFC 2616 section 4.1 “generic message”. SSDP messages MUST have a startline and a list of message header fields. SSDP messages SHOULD NOT have a message body. If a SSDP message is received with a message body, the message body MAY be ignored._